<h1>Customers</h1>
  <p>List of Customers</p>
  <%= link_to "New Customer", new_customer_path %>
<br>
<div class="container-fluid">
  <table class="table table-striped table-hover ">
    <thead class="table table-dark">
      <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.contact1 %></td>
          <td><%= link_to fa_icon("info-circle"), customer %></td>
          <td><%= link_to fa_icon("edit"), edit_customer_path(customer)%></td>
          <td><%= link_to fa_icon("trash"), customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container fixed-bottom" >
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>

