<%= render "header" %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="ibox float-e-margins">
        <div class='ibox-title'>
          <h5>Customer Details</h5>
          <div class="ibox-tools">
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </div>
        </div>

        <div class="ibox-content no-edit-section">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <dl class='dl-horizontal'>
                <dt>NAME:</dt>
                <dd><%= @customer.name %></dd>
                <dt>CONTACT:</dt>
                <dd><%= @customer.contact1 %></dd>
                <dt>ANOTHER CONTACT:</dt>
                <dd><%= @customer.contact2 %></dd>
                <dt>EMAIL:</dt>
                <dd><%= @customer.email %></dd>
                <dt>ADDRESS:</dt>
                <dd><%= @customer.address %></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
