<div class="row wrapper fadeInDown">
  <div class="col-lg-8 mx-auto" id="formContent">
    <center>
      <h2 class="fadeIn first">LOG IN</h2>
    </center>
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row col-lg-8 mx-auto fadeIn second">
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", :class => 'border'%>
      </div>

      <% if devise_mapping.rememberable? %>
      
      <div class="field">
        <%= f.check_box :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  </div>
  <% end %>
    <div id="formFooter" class="row mx-auto fadeIn third">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


