<h1>Products</h1>
<p>List of Products</p>
<%= link_to 'New Product', new_product_path %>
<div class="container">
  <table class="table table-striped table-hover table-responsive-lg">
    <thead class="table table-dark">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Unit price</th>
        <th>Quantity</th>
        <th>Product code</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.title %></td>
          <td><%= product.description %></td>
          <td><%= product.unit_price %></td>
          <td><%= product.quantity %></td>
          <td><%= product.product_code %></td>
          <td><%= link_to fa_icon("info-circle"), product %></td>
          <td><%= link_to fa_icon("edit"), edit_product_path(product) %></td>
          <td><%= link_to fa_icon("trash"), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div class="container fixed-bottom">
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>

