<%= render "layouts/products_header" %>

<div class="col-lg-12 animated fadeInDown margin">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Product Details</h5>
      <div class="ibox-tools">
        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox product-detail">
          <div class="ibox-content">
            <div class="row">
              <div class="col-lg-5">
                <div class="product-images">
                  <div>
                    <div class="image-imitation">
                        <%= image_tag(@product.image, class:"img-thumbnail") %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-7">
                <h2 class="font-bold m-b-xs">
                  <%= @product.title %>
                </h2>

                <div class="m-t-md">
                  <h2 class="product-main-price">Rs.<%= @product.unit_price %></h2>
                </div>

                <hr>
                <h4>Product description</h4>
                <div class="small text-muted">
                  <%= @product.description %>
                </div>
                <dl class="small m-t-md">
                  <dt>In Stock: <%= @product.quantity %></dt>
                  <dt>Product Code: <%= @product.product_code %> </dt>
                </dl>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
