<%= form_for (@receipt) do |f| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="container col-lg-12 form-style form-group margin">
    <div class="ibox-content">

      <div class="row">
        <div class="col-lg-12 margin">
          <%= f.label :customer_name %>
        </div>
        <div class="col-lg-12">
          <%= f.select "customer_id",options_from_collection_for_select(Customer.all, 'id', 'name'), {include_blank: 'Select'}, {class: 'form-control'} %>
        </div>
      </div>
      
      <h2><b>Line Items</b></h2>
      <div class='line-items'>
        <%= f.fields_for :line_items do |line_item| %>
          <%= render 'line_item_fields', f: line_item %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'add line item', f, :line_items, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 margin">
          <div>
          <%= f.label :gross_amount %>
          </div>
          <div>
            <%= f.text_field :gross_amt, class: "form-control gross_amount" %>
          </div>
        </div>

        <div class="col-lg-6 margin">
          <div>
            <%= f.label :discount_amount %>
          </div>
          <div>
            <%= f.text_field :discount_amt, class: "form-control discount_amount" %>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-6 margin">
          <div>
            <%= f.label :net_amount %>
          </div>
          <div>
            <%= f.text_field :net_amt, class: "form-control net_amount"%>
          </div>
        </div>

        <div class="col-lg-6 margin">
          <div>
            <%= f.label :receipt_type %>
          </div>
          <div>
            <%= f.select(:receipt_type, [['Invoice', 'invoice'], ['Quotation', 'quotation']], {include_blank: 'Select'}, {class: 'form-control'}) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="actions middle-box col-lg-6">
          <div>
            <%= f.submit class: "btn btn-primary" %>
          </div>
        </div>
        </div>
      </div>
    </table>
  </div>
<% end %>

