<div class="row">
  <div class="ibox-content">
    <div>
      <div style= "float:left">
        <h5>From:</h5>
        <address>
        <strong><%= COMPANY_NAME %></strong><br>
        <%= COMPANY_ADDRESS %><br>
        <%= COMPANY_CONTACT %>
      </address>
      </div>

      <div style= "float:right">
        <h4>Invoice No.</h4>
        <h4 class="text-navy"><%= rand(9999999999) %></h4>
        <span>To:</span>
        <address>
            <strong><%= @receipt.customer.name %></strong><br>
            <%= @receipt.customer.address %><br>
          <%= @receipt.customer.contact1 %>
        </address>
        <p>
            <span><strong>Invoice Date:</strong><%= @receipt.created_at.to_date %></span><br>
        </p>
      </div>
    </div>

      <div class="table-responsive m-t">
          <table class="table invoice-table">
              <thead>
                  <tr>
                    <th>Item List</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Discount (%)</th>
                    <th>Total Price</th>
                  </tr>
              </thead>
              <tbody>
              <% @receipt.line_items.each do |line_item| %>
                <tr>
                    <td>
                        <div><strong><%= line_item.product.title %></strong></div>
                        <small><%= line_item.product.description %>.</small>
                    </td>
                    <td><%= line_item.quantity %></td>
                    <td>Rs.<%= line_item.product.unit_price %></td>
                    <td><%= line_item.discount %>%</td>
                    <td>Rs.<%= line_item.price %></td>
                </tr>
              <% end %>
              </tbody>
          </table>
      </div><!-- /table-responsive -->

      <table class="table invoice-total">
          <tbody>
          <tr>
          <td><strong>Sub Total :</strong></td>
          <td>Rs.<%= @receipt.gross_amt %></td>
      </tr>
      <tr>
          <td><strong>Discount amount :</strong></td>
          <td>Rs.<%= @receipt.discount_amt %></td>
      </tr>
      <tr>
          <td><strong> Net TOTAL :</strong></td>
          <td>Rs,<%= @receipt.net_amt %></td>
      </tr>
          </tbody>
      </table>

      <div class="well m-t"><strong>Comments</strong>
          It is a long established fact that a reader will be distracted by the readable content
          of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
          more-or-less
      </div>
  </div>
</div>
