<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STORE</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
  <% if user_signed_in? %>
  <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">
    <%= render 'layouts/navigation' %>
    <div id="page-wrapper" class="gray-bg <%= @extra_class %>">
      <%= render 'layouts/topnavbar' %>
      <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
      <%= yield %>
    </div>
  </div>
  <% else %>
  <%= render 'layouts/empty' %>
  <% end %>
    <%= yield :javascript %>
</body>
</html>
